<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Imovel Cadastro</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet">
    <style>
        body {
            margin: 15px !important;
        }

        #formFileSm {
            width: 25% !important;
        }
    </style>
</head>
<body>
    <h1> <b>Cadastro de Imoveis</b> </h1>
    <form action="/carrossel/imoveis" method="post">

		<input type="hidden" id="id" name="id" value="0">
		
        <label for="preco">Preço: </label> 
        <input type="text" id="preco" name="preco"> <br> 

        <label for="quarto">Quantidade de quartos: </label>
        <input type="text" id="quarto" name="qtdQuarto"> <br> 

        <label for="banheiro">Quantidade de banheiros: </label> 
        <input type="text" id="banheiro" name="qtdBanheiro"> <br> 

        <label for="vaga">Quantidade de vagas: </label> 
        <input type="text" id="vaga" name="qtdVaga">  <br> <br> <br>

        <label for="formFileSm">Foto do Imovel: </label>
        <input class="form-control form-control-sm" id="formFileSm" type="file" name="foto"/> <br> <br>

        <input type="submit" value="Enviar">
    </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>